/* ==========================================================================
Basic Styling
========================================================================== */

html body {
    width: 100%;
    min-height: 100%;
    font-family: "Open Sans", "Raleway", Lucida Sans Unicode, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #fffffa
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-family: "Raleway", Lucida Sans Unicode, "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-color: #000;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    color: #2d2d2d;
}

p,
ul {
    margin-bottom: 20px;
    line-height: 24px;
    color: #000;
}

a {
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    color: #49B571;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #cfcfd7;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-moz-selection {
    text-shadow: none;
    background: #49B571;
    color: #FFF;
}

::selection {
    text-shadow: none;
    background: #49B571;
    color: #FFF;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

hr {
    margin-top: 30px;
    margin-bottom: 40px;
    border-top: 1px solid #EFEFEF;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}

form {
    margin-bottom: 0;
}

#allServices p {
    color: #ffffff;
    font-size: 15;
}

.carousel img,
.canvCarousel img {
    max-height: 500px;
    width: 100%;
    margin-right: 2rem;
}

#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}

.icon-arrow-left,
.icon-arrow-right {
    color: #20E4DF;
    height: 70px;
    width: 70px;
}
/* ==========================================================================
Classes
========================================================================== */

.cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.strong {
    font-weight: 700;
}

.subline {
    font-size: 24px;
}

.section {
    padding: 90px 0;
}

.section20 {
    padding: 20px 0;
}

.section30 {
    padding: 30px 0;
}

.padding40 {
    padding: 40px 0;
}

.padding50 {
    padding: 50px 0;
}

.padding60 {
    padding: 60px 0;
}

.paddingtop-70 {
    padding-top: 70px;
}

.paddingtop-40 {
    padding-top: 20px;
}

.nopadding-bottom {
    padding-bottom: 0;
}

.bordered {
    border: 4px inset #EFEFEF;
}

.border-left {
    border-left: 1px solid #EFEFEF;
}

.border-right {
    border-right: 1px solid #EFEFEF;
}

.border-top {
    border-top: 1px solid #EFEFEF;
}

.border-bottom {
    border-bottom: 1px solid #EFEFEF;
}

.separator30 {
    margin: 30px 0;
}

.separator60 {
    margin: 60px 0;
}

.margintop-30 {
    margin-top: 30px;
}

.margintop-40 {
    margin-top: 40px;
}

.margintop-70 {
    margin-top: 70px;
}

.marginbottom-10 {
    margin-bottom: 10px;
}

.nomargin-top {
    margin-top: 0;
}

.nomargin-bottom {
    margin-bottom: 0;
}

.margin50 {
    margin: 50px 0;
}

.margin20 {
    margin: 20px 0;
}

.green-arrow {
    list-style: none;
    margin-bottom: 15px;
}

.green-arrow li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
}

.green-arrow li:before {
    display: inline-block;
    text-align: center;
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #72B569;
}

.text-center {
    text-align: center;
}

.text-center img {
    display: block;
    margin: 0 auto;
}

.btn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
    padding: 15px 35px;
    font-weight: bold;
}

.btn:hover,
.btn:focus {
    background-color: #49B571;
    font-color: #fff;
}

.btn-transparent {
    background-color: #49B571;
    border: 4px inset #EEF;
    font-color: #fff;
}

.btn-transparent:hover {
    background-color: #49B571;
    border-color: #333;
    font-color: #fff;
}

.btn-price {
    color: #FFF;
}

.btn-price:hover {
    background-color: #49B571;
    border-color: #49B571;
}

.arrow-bottom {
    position: relative;
}

.arrow-bottom:after {
    left: 50%;
    bottom: -50px;
    position: absolute;
    content: "";
    border: 25px solid;
    border-color: #FAFAFA transparent transparent transparent;
    display: block;
    margin-left: -13.5px;
}
/* ==========================================================================
Color Customizations
========================================================================== */

.bg-white {
    background-color: #FFF;
}

.bg-grey {
    background-color: #FAF7F8;
}

.bg-grey {
    background-color: #FAFAFA;
}

.bg-grey2 {
    background-color: #F5F5F5;
}

.bg-blue {
    background-color: #40B0F9;
}

.bg-dark {
    background-color: #333;
}

.bg-silver {
    background-color: #cccccc
}
/*.bg-blue-pattern {background-color: #08b4da; background:url(../images/blue-square.png);}*/
/*.bg-testimonial {background:url(../images/headshot-bg.jpg);}*/

.green {
    color: #49B571;
}

.white-text {
    color: #FFF;
}

.white-text p {
    color: #FFF;
}

.white-text h3 {
    color: #FFF;
}

.white-text h2 {
    color: #FFF;
}

.white-text li {
    color: #FFF;
}

.fa-check {
    color: #49B571;
}
/* ==========================================================================
Line Font
========================================================================== */

.line-font {
    font-size: 40px;
}

.line-font-small {
    font-size: 18px;
}
/* ==========================================================================
Headline
========================================================================== */

.headline {
    text-align: center;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    margin-bottom: 50px;
}

.headline h1 {
    color: #31373a;
    padding-bottom: 15px;
    border-bottom: 2px solid #DDD;
    display: inline-block;
    font-size: 42px;
}

.headline h2 {
    font-size: 34px;
}

.headline p {
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 14px;
    color: #2b2b2b;
}
/* ==========================================================================
 Navigation
========================================================================== */

.menu-right {
    float: right;
}

.navbar-inverse {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    display: block;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    text-align: right;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    text-align: right;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #287800;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
    color: #287800;
}

.navbar-inverse .navbar-toggle {
    background: #49B571;
    border: none;
}

.navbar-nav {
    margin: 0;
}

.scroll-fixed-navbar {
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.navbar-brand {
    height: auto;
}

.scroll-fixed-navbar {
    padding: 10px 0;
    background-color: #FAFAFA;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.scroll-fixed-navbar .navbar-nav > li > a {
    color: #49B571;
}

.scroll-fixed-navbar .navbar-nav > li > a:hover,
.scroll-fixed-navbar .navbar-nav > li.active > a,
.scroll-fixed-navbar .navbar-nav > li.active > a:hover {
    color: #287800;
}

.navbar-toggle {
    position: relative;
    float: right;
    background-color: #287800 transparent;
    padding: 10px;
    margin: 13px 30px 13px 0;
    border: none;
    color: #fff;
    border: 2px solid #fff;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: rgba(0, 0, 0, 0.1);
}
/* ==========================================================================
Logo
======================================================.==================== */

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    padding: 0;
}

.scroll-fixed-navbar.navbar-inverse .navbar-brand {
    color: #1a1a1a;
    font-size: 28px;
    font-weight: 700;
    padding: 0;
}

.text-logo {
    margin-top: 5px;
}

.text-logo img {
    margin-right: 10px;
}
/* ==========================================================================
Banner
========================================================================== */

#banner {
    padding-top: 90px;
    padding-bottom: 70px;
    background-image: url(../images/blur.jpg);
    height: 100%;
    position: relative;
    background-attachment: fixed;
}

.banner-content .container {
    clear: both;
    padding-top: 40px;
}

.banner-content .container h1 {
    font-size: 48px;
    color: #FFF;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.banner-content .container h2 {
    color: #FFF;
}

.banner-content .container h5 {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
}

.banner-content .container p {
    color: rgba(255, 255, 255, 0.7);
}

.banner-main p {
    font-size: 18px;
}

.banner-list {
    margin-bottom: 20px;
}

.banner-list li {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
}

.banner-list li i {
    margin-right: 10px;
    color: #49B571;
    font-size: 16px
}
/* ==========================================================================
Buttons
========================================================================== */

.btn-default {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: #FFF;
    width: 100%;
    padding: 10px;
    border: 8px inset #49B571;
}

.btn-default:hover > .icon-eyeglasses {
    color: #fff
}

.btn-default:hover > .icon-notebook {
    color: #fff
}

.btn-default:hover > .icon-handbag {
    color: #fff
}

.btn-default:hover > .icon-map {
    color: #fff
}

.btn-default:hover > .icon-umbrella {
    color: #fff
}

.btn-default:hover > .icon-diamond {
    color: #fff
}

.btn-default:hover > .icon-drawer {
    color: #fff
}

.btn-default:hover > h3 {
    color: #fff;
}

.btn-default:focus .btn-default.active {
    border-color: #49B571;
    border: 8px outset;
}
/* ==========================================================================
Clients Logo
========================================================================== */

.clients-logo li {
    padding: 0 20px;
}

.clients-logo li img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}
/* ==========================================================================
Main Point
========================================================================== */

.main-point {
    margin-bottom: 20px;
}

.main-point i {
    display: block;
    font-size: 56px;
    color: #49B571;
}

.main-point h3 {
    font-size: 22px;
    font-weight: 300;
    margin-top: 20px;
}

.main-point p {
    color: #000000;
}
/* ==========================================================================
Features
========================================================================== */

.services {
    margin-bottom: 40px;
    text-align: left;
}

.services i {
    float: left;
    margin-right: 20px;
}

.services h3 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.services p {
    clear: both;
    padding-top: 10px;
}
/* ==========================================================================
Banner/TransparentBoxs & Forms
========================================================================== */

.banner-form {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, 0.4);
}

.form-title {
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF;
    text-align: center;
    padding: 25px 0;
}

.form-title h2 {
    margin-bottom: 0;
    font-size: 22px;
}

.form-body {
    padding: 30px;
}

.form-body p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 590;
    font-size: 16px;
}

.banner-main {
    padding: 20px;
    background: rgba(0, 0, 0, .5);
}

.banner-form .form-control,
.banner-header {
    color: #49B571;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 13px 15px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border-radius: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    background-color: #49B571;
    color: #FFF;
    border-color: rgba(0, 0, 0, 0.01);
    width: 100%;
    padding: 11px;
    border: 2px solid #287800;
}

.btn-submit:hover {
    background: #49B571;
    border-color: #49B571;
}
/* ==========================================================================
Stats
 ========================================================================== */

.stats i {
    float: left;
    margin-right: 20px;
}

.stats h3 {
    font-weight: bold;
    font-size: 29px;
    color: #1a1a1a;
    margin-bottom: 0;
}

.stats span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
}
/* ==========================================================================
Video Container
============================================================================ */

.video-container {
    position: relative;
}

.video-container iframe {
    width: 100%;
    height: 430px;
    border: none;
}
/* ==========================================================================
Testimonials
========================================================================== */

.testimonial-inner {}

.testimonial-inner img {
    margin-right: 30px;
    border-radius: 4px;
    border: 3px solid #FFF;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    float: left;
}

.testimonial-inner p {}

.testimonial-inner small {
    display: inline-block;
    border-top: 2px solid #333;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}
/* ==========================================================================
Pricing
============================================================================ */

.price-plan {
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    box-shadow: none;
}

.price-plan h4 {
    color: #FFF;
    font-size: 17px;
    text-align: center;
    margin-bottom: 0;
}

.price-plan h3 {
    color: #fff;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
}

.price-plan h3 span {
    font-weight: 300;
    font-size: 18px;
}

.price-plan h3 sup {
    font-size: 18px;
}

.price-plan .panel-heading {
    background: #666666;
    text-align: center;
    padding: 25px 0;
    border-radius: 0;
}

.price-plan .panel-body {
    background: #b3b3b3;
    padding: 30px 0;
    margin-bottom: 0;
}

.price-plan .panel-footer {
    background: #666666;
    padding: 25px 0;
    border-radius: 0;
}

.price-plan .list-group-item {
    padding: 15px 20px;
    border: 1px dotted #E5E5E5;
    text-align: center;
}

.price-plan .list-group-item:last-child {
    border-bottom: none;
}

.price-plan .list-group-item i {
    float: right;
    font-size: 18px;
    margin-top: 5px;
}

.popular .panel-heading {
    background: #333;
}

.popular .panel-body {
    background: #49B571;
}

.popular .panel-footer {
    background: #333;
}
/* ==========================================================================
faq-bodys
============================================================================ */

.faq-body {
    margin-bottom: 40px;
}

.faq-body i {
    float: left;
    font-size: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.faq-body h4 {
    padding-top: 10px;
    font-size: 18px;
}

.faq-body p {
    clear: both;
}

.answer {
    position: relative;
    border: 1px solid #E5E5E5;
    background-color: #FFF;
    padding: 20px;
    margin-top: 30px;
    border-radius: 3px;
}

.answer:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 10%;
}

.answer:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #E5E5E5 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -15px;
    top: -16px;
    left: 10%;
}
/* ==========================================================================
Footer
 ========================================================================== */

.footer-top {
    background-color: #1f5630;
    padding: 70px 0;
}

.footer-sub {
    background-color: #112c10;
    padding: 30px 0;
}

.footer h3 {
    color: #FFF;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 15px;
}

.footer p,
.footer a {
    color: #c6cdcd;
    margin-bottom: 10px;
}

.footer li {
    padding: 3px 0;
    font-size: 14px;
}

.footer i {
    color: #f8f8f8;
}

.copyright {
    float: right;
}

.copyright i {
    color: #FF3D7F;
    margin: 0 5px;
}

.contact-list li {
    color: #ADADAD;
    margin-bottom: 5px;
}

.contact-list i {
    margin-right: 15px;
}

.quick-links li {
    padding-left: 15px;
    position: relative;
}

.quick-links li:before {
    display: inline-block;
    text-align: center;
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    left: 0px;
    top: 4px;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #f8f8f8;
}
/* ==========================================================================
Carousel Settings
 ========================================================================== */

.carousel-mod .carousel-indicators {
    position: static;
    display: block;
    width: auto;
    margin: 15px auto;
}

.carousel-mod .carousel-indicators li {
    background-color: #A3A3A3;
    border: none;
    margin: 0;
}

.carousel-mod .carousel-indicators .active {
    background-color: #31373a;
    width: 10px;
    height: 10px;
}

.carousel-mod .carousel-control.left,
.carousel-mod .carousel-control.right {
    background: none;
    background-color: transparent;
    filter: none;
}

.carousel-mod .carousel-control {
    top: 45%;
}
/* ==========================================================================
Social Links
 ========================================================================== */

.social {}

.social li {
    padding: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    webkit-transition: background-color 400ms ease-out 0.2s;
    -moz-transition: background-color 400ms ease-out 0.2s;
    -o-transition: background-color 400ms ease-out 0.2s;
    transition: background-color 400ms ease-out 0.2s;
    margin-bottom: 5px;
}

.social li a {
    color: #fff;
}

.social li.facebook {
    background: #204385;
}

.social li.twitter {
    background: #2aa9e0;
}

.social li.google-plus {
    background: #d3492c;
}

.social li.linkedin {
    background: #0073b2;
}

.social li.skype {
    background: #00b0f6;
}

.social li.youtube {
    background: #e22d24;
}

.social li:hover {
    background: #31373a;
    cursor: pointer;
}
/* ==========================================================================
Media Queries
 ========================================================================== */
/* ------ Tablet Portrait size to standard 960 (devices and browsers) ------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    img {
        margin: auto;
    }
    .img-thumbnail {
        margin: 0;
    }
    body {
        overflow-x: hidden;
    }
}
/* ------ Mobile Landscape Size to Tablet Portrait (devices and browsers) ------*/

@media only screen and (max-width: 767px) {
    .navbar-inverse {
        background-color: #FFF;
        padding: 0;
    }
    .navbar > .container {
        margin-left: 10px;
        color: #49B571;
        margin-top: 15px auto;
    }
    .menu-right {
        float: none;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #1a1a1a;
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #49B571;
    }
    img {
        display: block;
        margin: 15px auto;
    }
    .section {
        padding: 50px 0;
    }
    .main-point {
        margin-bottom: 40px;
    }
    .video-container {
        margin-bottom: 40px;
    }
    .img-thumbnail {
        margin: 0;
    }
    html,
    body {
        width: 100% !important;
        overflow-x: hidden !important;
    }
    .carousel img {
        height: 600px;
        width: 800px;
        max-width: 700px;
        max-height: 700px;
    }
    .canvCarousel img {
        height: 600px;
        width: 800px;
        max-width: 700px;
        max-height: 700px;
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    /* Retina-specifics */
    
    #banner {
        padding-top: 70px;
        padding-bottom: 90px;
        background-image: url(../images/blur@2x.jpg);
        -webkit-background-size: 1900px 150%;
        -moz-background-size: 1900px 150%;
        -o-background-size: 1900px 150%;
        background-size: 1900px 150%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        position: relative;
    }
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
    /* some CSS here */
    
    #banner {
        padding-top: 70px;
        padding-bottom: 90px;
        background-image: url(../images/blur@2x.jpg);
        -webkit-background-size: 1900px 150%;
        -moz-background-size: 1900px 150%;
        -o-background-size: 1900px 150%;
        background-size: 1900px 150%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        position: relative;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* some CSS here */
    
    #banner {
        padding-top: 70px;
        padding-bottom: 90px;
        background-image: url(../images/blur@2x.jpg);
        -webkit-background-size: 1900px 150%;
        -moz-background-size: 1900px 150%;
        -o-background-size: 1900px 150%;
        background-size: 1900px 150%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        position: relative;
    }
}
/* ------ Mobile Portrait Size to Mobile Landscape Size (devices and browsers) ------*/

@media only screen and (max-width: 479px) {
    .carousel img {
        max-height: 400px;
        width: 100%;
    }
    .canvCarousel img {
        max-height: 400px;
        width: 100%;
    }
    h2 {
        font-size: 28px;
    }
    h4 {
        font-size: 16px;
    }
    img {
        float: none;
        display: block;
        margin: 5px auto;
    }
    iframe {
        max-height: 200px;
    }
    .banner-content h1 {
        font-size: 34px;
    }
    .navbar-toggle {
        padding: 8px;
    }
    .headline h1 {
        font-size: 30px;
    }
    .headline h2 {
        font-size: 28px;
    }
    .section {
        padding: 50px 0;
    }
    .separator60 {
        margin: 30px 0;
    }
    .steps-list {
        margin-bottom: 30px;
    }
    .main-point h3 {
        font-size: 20px;
    }
    .video-container {
        margin-bottom: 40px;
    }
    .img-thumbnail {
        margin: 0;
    }
    .testimonial-inner img {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .contact-list,
    .quick-links {
        margin-bottom: 30px;
    }
    .copyright {
        float: none;
    }
    html,
    body {
        width: 100% !important;
        overflow-x: hidden !important;
    }
}